body {
  font-size: 16px;
  background-color: #fff;
  margin: 30px;
  width: 600px;
  font-family: 'Courier New', Courier, monospace
}

/* Activity 1 styles */

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
}

.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1 / 3;
}

.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}

.gold1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}

.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1 / 3;
}

/* Activity 2 styles */

.content2 {
  height: 400px;
  width: 400px;
  position: relative;
  top: 30px;
  left: 30px;
}

.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.green2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 50px;
  left: 50px;
}

.yellow2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  position: absolute;
  top: 100px;
  left: 100px;
}

.blue2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 150px;
  left: 150px;
}

/* Activity 3 styles */

.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.red3 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1 / 3;
}

.green3 {
  width: 90%;
  height: 200px;
  background-color: green;
}

.yellow3 {
  width: 90%;
  height: 200px;
  background-color: gold;
  justify-self: right;
}

.blue3 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1 / 3;
}

/* Activity 4 styles */

.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  margin: 0;
}

.red4 {
  width: 1fr;
  height: 300px;
  background-color: red;
}

.green4 {
  width: 1fr;
  height: 100px;
  background-color: green;
}

.yellow4 {
  width: 1fr;
  height: 100px;
  background-color: gold;
  grid-column: 2 / 3;
}

.blue4 {
  width: 1fr;
  height: 100px;
  background-color: blue;
  grid-column: 2 / 3;
}

/* Activity 5 styles */

.content5 {
  margin: 0;
}

.red5 {
  width: 100%;
  height: 100px;
  background-color: red;
}

.green5 {
  float: left;
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 0 10px 10px 0;
}

.yellow5 {
  width: 100%;
  height: 300px;
  background-color: gold;
}

.blue5 {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: blue;
}

/* Activity 6 styles */

.content6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.red6 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1 / 3;
}

.green6 {
  width: 90%;
  height: 200px;
  background-color: green;
}

.yellow6 {
  width: 90%;
  height: 200px;
  background-color: gold;
  justify-self: right;
}

.blue6 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1 / 3;
}