@import url('https://fonts.googleapis.com/css?family=Knewave|Wendy+One&display=swap');
:root {
    --primary-color: #AFC2D5;
    --secondary-color: #006e90;
    --accent1-color: #330c2f;
    --accent2-color: #7b287d;
    --heading-font: "Knewave", sans-serif;
    --paragraph-font: 'Wendy One', sans-serif,
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 1em
}

main,
page-container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid #333333;
    padding: 10px;
    display: block;
    position: relative;
}

header img {
    width: 50px;
    height: auto;
}

nav {
    position: relative;
}

nav a {
    display: inline-block;
    padding: 10px 5px 10px 30px;
}

nav img {
    position: absolute;
    margin-top: 0px;
    margin-left: -15px;
}

header h1 {
    font-size: 3.5rem;
}

footer {
    background-color: var(--secondary-color);
    height: auto;
}

footer p {
    margin: 0;
    padding: 15px 0 0 10px;
    text-align: left;
    color: var(--accent1-color);
}

.social {
    text-align: right;
    margin-top: -25px;
    padding-right: 0px;
    padding-bottom: 3px;
}

.social img {
    width: 32px;
}